{% extends 'base.html' %}

{% block title %}
  New user
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <form method="post">
    <label for="user-name-id">User name:</label>
    <input
      id="user-name-id"
      name="user-name"
      type="text"
      placeholder="{{ last_element_name }}"
      required
    >
    <br/>
    <input id="submit-id" type="submit" value="Create">
  </form>

  <hr>
  <div class="p-5"><a href="{{ url_for('users_app.list') }}">back to users</a></div>

{% endblock %}
